 body {
      margin: 0;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(to top, #000033 0%, #003366 100%);
      overflow: hidden;
      font-size: 5em;
    }

    .hello {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: aliceblue;
    }

    .welcome {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      color: aliceblue;
    }

    .underline {
      /* text-decoration: underline; */
      margin-right: 2px;
    }

    .torch {
      position: absolute;
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 60%);
      pointer-events: none;
      mix-blend-mode: difference;
    }

    .ball {
      position: absolute;
      width: 50px;
      height: 50px;
      background-color: #ff4500;
      border-radius: 50%;
    }
    @media (max-width: 768px) {
      body {
        font-size: 2.5em;
      }
      .ball {
        width: 25px;
        height: 25px;
        top: calc(100% - 35px);
        left: calc(100% - 35px);
      }
    }

    @media (max-width: 576px) {
      body {
        font-size: 2em;
      }
      .ball {
        width: 20px;
        height: 20px;
        top: calc(100% - 30px);
        left: calc(100% - 30px);
      }
    }

    @media (max-width: 400px) {
      body {
        font-size: 1.5em;
      }
      .ball {
        width: 15px;
        height: 15px;
        top: calc(100% - 25px);
        left: calc(100% - 25px);
      }
    }
